apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: {{ template "rasa-x.rasa.configuration-files" . }}
  labels:
    {{ include "rasa-x.labels" . | nindent 4 }}
data:
  rasa-credentials: |
    rasa:
      url: {{ .Values.rasax.scheme }}://{{ include "rasa-x.host" . }}.{{ .Release.Namespace }}.svc:{{ .Values.rasax.port }}/api
    {{- with .Values.rasa.additionalChannelCredentials }}
    {{ toYaml . | nindent 4 }}
    {{- end }}
  rasa-endpoints: |
    models:
      url: ${RASA_MODEL_SERVER}
      token: ${RASA_X_TOKEN}
      wait_time_between_pulls: 10
    tracker_store:
      type: sql
      dialect: "postgresql"
      url: {{ template "rasa-x.psql.host" . }}
      port: {{ template "rasa-x.psql.port" . }}
      username: {{ template "rasa-x.psql.username" . }}
      password: ${DB_PASSWORD}
      db: ${DB_DATABASE}
      {{- if .Values.rasa.useLoginDatabase }}
      login_db: {{ template "rasa-x.psql.database" . }}
      {{- end }}
    {{- if $.Values.rabbitmq.enabled }}
    event_broker:
      type: "pika"
      url: "{{ template "rasa-x.rabbitmq.host" . }}"
      username: "{{ .Values.rabbitmq.rabbitmq.username }}"
      password: ${RABBITMQ_PASSWORD}
      port: {{ default 5672 .Values.rabbitmq.service.port }}
      {{ if or (regexMatch ".*(a|rc)[0-9]+" .Values.rasa.version) (regexMatch "2.*[0-9]+-full" .Values.rasa.version) -}}
      queues:
      - ${RABBITMQ_QUEUE}
      {{- include  "rasa.additionalRabbitQueues" $ | nindent 6 }}
      {{- else -}}
      {{ if semverCompare ">= 1.9.0" .Values.rasa.version -}}
      queues:
      - ${RABBITMQ_QUEUE}
      {{- include  "rasa.additionalRabbitQueues" $ | nindent 6 }}
      {{- else -}}
      queue: ${RABBITMQ_QUEUE}
      {{- end }}
      {{- end }}
      {{- else }}
    event_broker:
      type: "kafka"
      security_protocol: ${KAFKA_SECURITY_PROTOCOL}
      topic: ${KAFKA_TOPIC}
      url: ${KAFKA_URL}
      sasl_username: ${KAFKA_SASL_USERNAME}
      sasl_password: ${KAFKA_SASL_PASSWORD}
    action_endpoint:
    {{- end }}
    action_endpoint:
      url: {{ if .Values.app.existingUrl }}"{{ .Values.app.existingUrl }}"{{ else }}"{{ .Values.app.scheme }}://{{ include "rasa-x.fullname" . }}-app.{{ .Release.Namespace }}.svc:{{ template "rasa-x.custom-actions.port" . }}{{ .Values.app.endpoints.actionEndpointUrl }}"{{ end }}
      token:  ""
    {{- if $.Values.redis.install }}
    lock_store:
      type: "redis"
      url: {{ template "rasa-x.redis.host" . }}
      port: {{ default 6379 .Values.redis.redisPort }}
      password: ${REDIS_PASSWORD}
      db: {{ default "1" .Values.rasa.lockStoreDatabase }}
    cache:
      type: "redis"
      url: {{ template "rasa-x.redis.host" . }}
      port: {{ default 6379 .Values.redis.redisPort }}
      password: ${REDIS_PASSWORD}
      db: {{ default "2" .Values.rasa.cacheDatabase }}
      key_prefix: "rasax_cache"
    {{- end }}
    {{- with .Values.rasa.additionalEndpoints }}
    {{ toYaml . | nindent 4 }}
    {{- end }}
