---
apiVersion: v2

version: "4.3.3"

appVersion: "1.0.1"

name: rasa-x
description: Rasa X Helm chart for Kubernetes / Openshift
home: https://github.com/RasaHQ/rasa-x-helm

icon: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqZPsa-h0ilYPCFaQmf21MFMyVH7oyvrfnJHwvGOJVlMIeTiakBJTSwGd2cDFcF5AsEiY&usqp=CAU"

keywords:
- "Rasa"
- "AI Assistants"
- "Chatbot"
- "Rasa X"

maintainers:
- name: "tmbo"
  email: "tom@rasa.com"
  url: "https://rasa.com"

dependencies:
- name: postgresql
  version: ~10.15.1
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.install

- name: redis
  version: ~15.7.2
  repository: https://charts.bitnami.com/bitnami
  condition: redis.install

- name: rabbitmq
  version: ~8.26.0
  repository: https://charts.bitnami.com/bitnami
  condition: rabbitmq.install

annotations:
  # See: https://artifacthub.io/docs/topics/annotations/helm/#supported-annotations
  artifacthub.io/changes: |
    - kind: fixed
      description: Add ingressClassName field to rasa-x ingress
