---
apiVersion: v2

version: "1.2.4"
appVersion: "0.26.0"

name: rasa-x
description: Rasa X Helm chart for Kubernetes / Openshift
home: https://github.com/RasaHQ/rasa-x-helm

icon: "https://rasa.com/static/rasa-logo-square-ef3444fc36faec97ae8bd7bfb568996d.svg"

keywords:
- "Rasa"
- "AI Assistants"
- "Chatbot"
- "Rasa X"

maintainers:
- name: "tmbo"
  email: "tom@rasa.com"
  url: "https://rasa.com"

dependencies:
- name: postgresql
  version: ~8.6.4
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.install

- name: redis
  version: ~10.5.12
  repository: https://charts.bitnami.com/bitnami
  condition: redis.install

- name: rabbitmq
  version: ~6.18.9
  repository: https://charts.bitnami.com/bitnami
  condition: rabbitmq.install
